body {
    background-color: #000035;
}

#show-instructions {
    background-color: #4B0082;
    color: white
}
#show-instructions:hover {
    background-color: #8A2BE2;
}

#new-dataset {
    background-color: #228B22;
    color: #FFFFFF;
}
#new-dataset:hover {
    background-color: #32CD32;
    color: #FFFFFF;
}

#apply-algorithm {
    background-color: #4682B4;
    color: #FFFFFF;
}
#apply-algorithm:hover {
    background-color: #1E90FF;
    color: #FFFFFF;
}

tbody {
    height: 53px;
}

.text-orange {
    color: #FFD700
}